<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <a id="company" href="https://hodlinfo.com/">
      <h1 id="company1">HODLINFO</h1>
    </a>
  </body>
</html>
