<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="main">
      <a id="company" href="https://hodlinfo.com/">
        <h1 id="company1">HODLINFO</h1>
      </a>
      <div id="">
        <h1 id="company2">Bitcoin Price</h1>
        <button>inr</button>
        <div class="dropdown">
          <button class="dropbtn">crypto</button>
          <div class="dropdown-content">
            <a onclick="showTicker('btc')">btc</a>
            <a onclick="showTicker('xrp')">xrp</a>
            <a onclick="showTicker('eth')">eth</a>
            <a onclick="showTicker('trx')">trx</a>
            <a onclick="showTicker('eos')">eos</a>
            <a onclick="showTicker('zil')">zil</a>
            <a onclick="showTicker('bat')">bat</a>
            <a onclick="showTicker('zrx')">zrx</a>
            <a onclick="showTicker('req')">req</a>
            <a onclick="showTicker('nuls')">nuls</a>
          </div>
        </div>
        <div class="row" id="tickerRow"></div>
        <button>BUY crypto</button>
      </div>
    </div>

    <script src="/js/fetch.js"></script>
  </body>
</html>
