<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="main">
      <a id="company" href="https://hodlinfo.com/">
        <h1 class="text-3xl font-bold underline" id="company1">HODLINFO</h1>
      </a>
      <div style="margin-top: 100px">
        <button class="bigBtn">inr</button>
        <div class="dropdown">
          <button class="dropbtn bigBtn">crypto</button>
          <div class="dropdown-content">
            <a onclick="showTicker('btcinr')">btc</a>
            <a onclick="showTicker('xrpinr')">xrp</a>
            <a onclick="showTicker('ethinr')">eth</a>
            <a onclick="showTicker('trxinr')">trx</a>
            <a onclick="showTicker('eosinr')">eos</a>
            <a onclick="showTicker('zilinr')">zil</a>
            <a onclick="showTicker('batinr')">bat</a>
            <a onclick="showTicker('zrxinr')">zrx</a>
            <a onclick="showTicker('reqinr')">req</a>
            <a onclick="showTicker('nulsinr')">nuls</a>
          </div>
          <a
            href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn"
          >
            <button class="bigBtn">BUY</button>
          </a>
        </div>
        <div class="row" id="tickerRow"></div>
      </div>
    </div>
    <script src="/js/fetch.js"></script>
  </body>
</html>
