@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(25, 29, 40);
}
#company {
  color: rgb(61, 198, 193);
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
}

#company1 {
  font-weight: 300px;
  margin-right: 20px;
  padding: 15px;
  margin-top: 10px;
  font-stretch: extra-expanded;
  letter-spacing: 1px;
}
#main {
  display: flex;
  align-items: center;
}
/* Drop dowm --------------------------------------------------*/
.dropbtn {
  background-color: #5b1a5b;
  color: white;
  padding: 40px;
  width: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  cursor: grab;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rebeccapurple;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* Drop down end --------------------------------------------------*/

/* Rows start --------------------------------------------------------*/
.row {
  display: flex;
  height: 200px;
  color: #f1f1f1;
}

.column {
  flex: 1;
  text-align: center;
  border: 1px solid white;
  padding: 7px;
}

.column h3 {
  margin: 0;
  background-color: #5b1a5b;
}

.column p {
  margin: 5px 0 0;
  font-weight: bold;
  background-color: #5b1a5b;
}

/* Rows end --------------------------------------------------------*/

#tickerRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column {
  display: flex;
  justify-content: space-between;
  background-color: #5b1a5b;
  color: white;
}

.bigBtn {
  font-size: medium;
  padding: 10px;
  color: white;
  background-color: rgba(59, 62, 62, 0.479);
  height: 50px;
  border-radius: 25%;
  border: 1px solid transparent;
  width: 60px;
}

a {
  text-decoration: none;
}
.decoW {
  color: white;
}

button {
  width: 200px;
  cursor: pointer;
}
