* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(25, 29, 40);
}
#company {
  color: rgb(61, 198, 193);
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
}

#company1 {
  font-weight: 300px;
  margin-right: 20px;
  padding: 15px;
  margin-top: 10px;
  font-stretch: extra-expanded;
  letter-spacing: 1px;
}
#main {
  display: flex;
  align-items: center;
}
/* Drop dowm --------------------------------------------------*/
.dropbtn {
  background-color: #5b1a5b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* Drop down end --------------------------------------------------*/

/* Rows start --------------------------------------------------------*/
.row {
  display: flex;
  height: 25px;
}

.column {
  flex: 1;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.column h3 {
  margin: 0;
}

.column p {
  margin: 5px 0 0;
  font-weight: bold;
}

/* Rows end --------------------------------------------------------*/
